extends ../layout

block content
  h2 you're in

  p.
    Looks like you're all set up for
    #[a(href="#{application.getPath()}") #{application.name}]! To make use of
    all the features, make sure to invite #{application.name} to the
    relevant channels.

  img(src="/images/bot_help.png" alt="bot help" )