extends ../layout

block content
  h2
    if isAuthenticated
      #[a(href="/applications/") applications]
      &nbsp;&gt;&nbsp;
    span.
      #[a(href="/applications/#{application.name}") #{application.name}]
      &nbsp;&gt;&nbsp;
      changelog

  p
    .application-changelog!= marked(application.changelog)