extends ../layout

block content
  .row
    .col-sm-12
      h2.
        #[a(href="/applications/") applications]
        &nbsp;&gt;&nbsp;
        #[a(href="/applications/#{application.name}") #{application.name}]
        &nbsp;&gt;&nbsp;
        edit

  .application-edit
    form(name='edit', action='edit', method='post', accept-charset='utf-8')
      include ./_form.jade


