extends ../layout

block content
  h2 hmm

  p.
    Looks like something went wrong in authorizing
    #[a(href="#{application.getPath()}") #{application.name}].
    If trying again doesn't work, e-mail us at
    #[a(href="mailto:support@the-brain-trust.com") support@the-brain-trust.com].
