extends ../layout

block content
  h2 hmm

  p.
    Looks like something went wrong in authorizing
    #[a(href='#{application.getPath()}') #{application.name}].
    Click #[a(href='#{application.getAuthorizePath("slack", oAuthState)}') here]
    to try that again.
