extends ../layout
block scripts
  script(type='text/javascript', src='/bower_components/highcharts/highstock.js')
  script(type='text/javascript', src='/javascripts/metrics.js')

block content
  .row
    .col-sm-12
      h2.
        #[a(href="/applications/") applications]
        &nbsp;&gt;&nbsp;
        #[a(href="/applications/#{application.name}") #{application.name}]
        &nbsp;&gt;&nbsp;
        metrics

  .application-metrics
    .application-metrics-chart
    .application-metrics-controls
      .form-group
        label(for='entity') entity:
        select(name='entity').form-control
          option(selected=true) -- select an option --
          each entityId in entityIds
            option= entityId