.container {
  max-width: 1200px;
}
.header-title {
  color: rgb(0, 0, 0);
}
.application-header {
  margin-top: -10px;
}
.application-header a {
  color: rgb(0, 0, 0);
}
.application-header .application-addToSlackBtn {
  position: relative;
  top: 15px;
}
.application-icon {
  display: block;
  margin: auto;
  max-width: 200px;
  width: 100%;
}
.flash {
  display: block;
  padding: 7px 10px;
}
.login {
  max-width: 400px;
}
.models td {
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  max-width: 200px;
}
