body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header-title {
  color: rgb(0, 0, 0);
}
.application-header {
  margin-top: -10px;
}
.application-header a {
  color: rgb(0, 0, 0);
}
.application-header .application-addToSlackBtn {
  position: relative;
  top: 15px;
}
.application-icon {
  display: block;
  margin: auto;
  max-width: 200px;
  width: 100%;
}
.application-menu {
  line-height: 0.8em;
}
.flash {
  display: block;
  padding: 7px 10px;
}
.login {
  max-width: 400px;
}
