extends ../layout

block content
  .row
    .col-sm-12.application-header
      h2
        #[a(href="/buttonwood") buttonwood] &gt;&nbsp;
        #[a(href="/buttonwood/changelog") changelog]

  p
    strong December 21, 2015

    p Initial release.

