extends ../layout

block content
  strong What is buttonwood?

  p.
    buttonwood is a #[a(href="https://slack.com") Slack] app that provides
    pricing information about stocks whenever a cash tag (like $AAPL)
    is mentioned in a channel that buttonwood is in, or when mentioning or
    directly talking to buttonwood.

  strong Hmm... is that it?

  p.
    Yes. In the future, we'd like to add alerts to help monitor large
    movements in stock prices, macroeconomic events, and company news. If you'd
    like to see additional features, e-mail us at
    #[a(href="mailto:feedback@the-brain-trust.com") feedback@the-brain-trust.com].

