extends ../layout

block content
  h2 whoa

  p.
    We're sorry to see you go, but how about giving another shot at using
    #[a(href="/#{slackApplication.name}") #{slackApplication.name}]
    Otherwise let us know how we're doing at
    #[a(href="mailto:feedback@the-brain-trust.com") feedback@the-brain-trust.com].
