doctype html
html
  head
    title= 'the brain trust'
    script(type='text/javascript' src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript' src='/bower_components/webcomponentsjs/webcomponents-lite.min.js')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/bower-sticky-footer/dist/css/sticky-footer.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='import', href='/bower_components/google-analytics/google-analytics.html')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='Makers of buttonwood, the financial markets Slack app.')

  body
    google-analytics(code='UA-71658652-1')
    if error && error.length > 0
      .flash.alert-danger(role='alert')
        span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true") &nbsp;
        span #{error}
    .container
      .header
        h1 #[a.header-title(href='/') the brain trust]
      block content
  footer.footer
    .container
      p.text-muted all rights reserved | #[a(href='privacy-policy') privacy policy] | #[a(href='mailto:info@the-brain-trust.com') contact]
