extends layout

block content
  h2 privacy policy
  p This document is current as of December 21, 2015.

  strong What information do we collect?

  p.
    We don't collect any information outside of anonymous usage statistics and
    the credentials used to access your team. No personally identifiable
    information is collected.

  strong What do we use your information for?

  p.
    The information gathered will help improve the quality of our applications.
    We do not sell, trade, or transfer any personally identifiable information
    to outside parties. However we reserve the right to disclose information
    when we believe that it will be appropriate to comply with the law, enforce
    our policies, or protect ours and others rights, property, and safety.
    Non-personally identifiable information may be provided to other parties for
    marketing, advertising, or other uses.

  strong Online Privacy Policy Only

  p.
    This online privacy policy applies only to information collected through
    our website.

  strong Your Consent

  p.
    By using our site or any of our applications, you consent to this privacy
    policy.

  strong Changes to our Privacy Policy

  p.
    If we decide to change our privacy policy, the changes will be noted on this
    page.

  strong Contacting Us

  p.
    If there are any questions regarding this privacy policy,
    you may #[a(href="mailto:info@the-brain-trust.com") contact us].




