extends ../layout

block content
  h2 admin

  ul.list-unstyled
    li #[a(href="/applications") #{applicationCount} applications]
    li #{applicationPlatformEntityCount} permissions granted
    li #{platformCount} platforms
    li #{userCount} users

