extends ../layout

block content
  h2 dashboard

  ul.list-unstyled
    li #[a(href="/applications") #{applicationCount} applications]
    li #{applicationPlatformEntityCount} permissions granted
    li #[a(href="/platforms") #{platformCount} platforms]
    li #[a(href="/users") #{userCount} users]

