Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: https-cert
          roleName: aws-elasticbeanstalk-ec2-role
files:
  "/tmp/ca.pem" :
    mode: "000400"
    owner: nodejs
    group: nodejs
    authentication: "S3Auth"
    source: https://s3-us-west-2.amazonaws.com/https-cert/chain3.pem
  "/tmp/cert.pem" :
    mode: "000400"
    owner: nodejs
    group: nodejs
    authentication: "S3Auth"
    source: https://s3-us-west-2.amazonaws.com/https-cert/fullchain3.pem
  "/tmp/key.pem" :
    mode: "000400"
    owner: nodejs
    group: nodejs
    authentication: "S3Auth"
    source: https://s3-us-west-2.amazonaws.com/https-cert/privkey3.pem
