Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: https-cert
          roleName: aws-elasticbeanstalk-ec2-role
files:
  "/tmp/fullchain.pem" :
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-us-west-2.amazonaws.com/https-cert/fullchain3.pem
  "/tmp/privkey.pem" :
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-us-west-2.amazonaws.com/https-cert/privkey3.pem

container_commands:
  move_cert:
    command: "mv /tmp/fullchain.pem mv /tmp/cert.pem"
  move_key:
    command: "mv /tmp/privkey.pem /tmp/key.pem"
